.city {
    padding: 50px;
    background-color: greenyellow;
    color: black;
    margin: 25px;
}

.city--green {
    background-color: lightgreen;
}

    

h2{
    font-size: 36px;
}

p{
  font-size: 24px;
}